.color-green {
    color: #fff!important;
    background-color: #0e392e!important;
}

.text-green {
    color: #002820!important;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }